




.select2-selection__choice__remove:hover{
    background-color: transparent!important;
    color: #ef5454 !important;
}



.container-custom{

}
/* .tamim.h1{

    color: aqua;

    background-color: aqua;
    height: 30px;
    weight:20px;
} */