.t-link {
  text-decoration: none;
  color: inherit;
}

.t-link:hover {
  color: #4f4f4f;
}

.setting-nav-item {
  list-style: none;
  padding: 20px 0px;
}

.setting-nav-item:hover {
  background-color: #fbfff6;
}

.shadowed-floating-input {
  border: none !important;
  box-shadow: 4px 6px 15px 0px rgba(0, 0, 0, 0.06) !important;
}

.shadowed-floating-input:hover {
  border: none !important;
  outline: none !important;
  box-shadow: 4px 6px 15px 0px rgba(0, 0, 0, 0.06) !important;
}

.shadowed-floating-input:focus {
  border: none !important;
  outline: none !important;
  box-shadow: 4px 6px 15px 0px rgba(0, 0, 0, 0.06) !important;
}