<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/fav.png" />
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../css/color_palets.css" />
    <link rel="stylesheet" href="../../css/log_file_style.css" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
      integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e"
      crossorigin="anonymous"
    />

    <title>Admin - Affiliate - Log files</title>
  </head>
  <body>
    <!-- navbar starts here -->
    <nav
      class="navbar navbar-expand-lg bg-white shadow-lg fixed-top"
      data-bs-theme="dark"
    >
      <div class="container-fluid">
        <a href="/index.html"><img src="/images/logo.svg" alt="logo" /></a>
        <button
          class="navbar-toggler d-md-none collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#sidebarMenu"
          aria-controls="navbarColor02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="bi bi-caret-down-fill"></i>
        </button>
      </div>
    </nav>
    <!-- navbar ends here -->
    <div class="container-fluid">
      <div class="row">
        <!-- sidebar starts here -->
        <nav
          id="sidebarMenu"
          class="col-md-3 col-lg-2 d-md-block bg-white sidebar collapse sidebar-width shadow-lg"
          style="height: 100vh; margin-top: 60px; position: fixed"
        >
          <div
            class="d-flex justify-content-center align-items-center flex-column border-bottom mt-2 pb-3"
          >
            <div class="mb-2">
              <img
                src="/images/boy.jpg"
                alt="image"
                class="profile-img"
                style="
                  width: 80px;
                  height: 90px;
                  object-fit: cover;
                  margin-top: 16px;
                "
              />
            </div>
            <h5 class="text-gray-800 mt-3">Super Admin</h5>
          </div>
          <div style="overflow-y: auto; height: 65vh" class="scrollbar-none">
            <ul class="list-unstyled px-3 mt-2">
              <li class="mb-3">
                <div class="d-flex align-items-center">
                  <i class="bi bi-credit-card fs-5 me-4"></i>
                  <div class="d-flex w-100 justify-content-between">
                    <a
                      class="text-decoration-none text-gray-800 align-items-center collapsed"
                      data-bs-toggle="collapse"
                      data-bs-target="#offer-collapse"
                      aria-expanded="false"
                      style="cursor: pointer"
                    >
                      Affiliate
                    </a>
                    <i class="bi bi-chevron-left arrow-icon"></i>
                  </div>
                </div>

                <div class="collapse show" id="offer-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li
                      class="ms-4 px-3 py-1 my-3"
                      style="border-left: 3px solid #898e99"
                    >
                      <a
                        href="/index.html"
                        class="text-gray-800 text-decoration-none text-nowrap"
                        >Affiliate Request</a
                      >
                    </li>
                    <li
                      class="ms-4 px-3 py-1 my-3"
                      style="border-left: 3px solid #898e99"
                    >
                      <a
                        href="/affiliate-profile.html"
                        class="text-gray-800 text-decoration-none text-nowrap"
                        >Affiliate Profile</a
                      >
                    </li>
                    <li
                      class="ms-4 px-3 py-1 my-3"
                      style="border-left: 3px solid #898e99"
                    >
                      <a
                        href="/affiliate-transaction.html"
                        class="text-gray-800 text-decoration-none text-nowrap"
                        >Affiliate Transaction</a
                      >
                    </li>
                    <li
                      class="ms-4 px-3 py-1 my-3"
                      style="border-left: 3px solid #898e99"
                    >
                      <a
                        href="/setting.html"
                        class="text-gray-800 text-decoration-none"
                        >Setting</a
                      >
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </nav>
        <!-- sidebar ends here -->
        <main class="container-custom">
          <div
            class="col-md-9 ms-sm-auto col-lg-10 px-3"
            style="margin-top: 62px"
          >
            <!-- tab like button group (it should be tab) -->
            <div class="pt-4 row row-cols-2">
              <div>
                <a
                  href="#"
                  class="btn bg-white shadow-lg w-100"
                  style="
                    border: 2px solid #669ad1;
                    color: #6c6d6d;
                    font-size: 16px;
                    padding-top: 12px;
                    padding-bottom: 12px;
                  "
                  >View</a
                >
              </div>
              <div>
                <a
                  href="/log-files/edit/sign-up-info.html"
                  class="btn bg-white shadow-lg w-100"
                  style="
                    border: 2px solid white;
                    color: #6c6d6d;
                    font-size: 16px;
                    padding-top: 12px;
                    padding-bottom: 12px;
                  "
                  >Edit</a
                >
              </div>
            </div>
            <!-- tab like button group ends -->
            <!-- mini nav starts here -->
            <div
              class="d-flex gap-4 flex-wrap flex-column flex-md-row py-4 align-items-center"
            >
              <a
                class="text-decoration-none text-gray-800 text-nowrap"
                href="/log-files/view/aboutme.html"
                >About Me</a
              >
              <a
                class="text-decoration-none text-gray-800 text-nowrap"
                href="/log-files/view/dashboard.html"
                >Dashboard Details</a
              >
              <a
                class="text-decoration-none text-gray-800 text-nowrap"
                href="/log-files/view/add-lead.html"
                >Add Leads</a
              >
              <a
                class="text-decoration-none text-gray-800 text-nowrap"
                href="/log-files/view/approved-lead.html"
                >Approved Leads</a
              >
              <a
                class="btn btn-gdark text-decoration-none text-gray-800 text-nowrap"
                href="/log-files/view/basic-log.html"
                >Basic Log</a
              >
              <a
                class="btn btn-outline-gdark text-decoration-none text-gray-800 text-nowrap"
                href="/log-files/view/advance-log.html"
                >Advance Log</a
              >
            </div>
            <!-- mini nav ends here -->
            <!-- contents starts here -->
            <div>
              <div class="d-flex flex-wrap gap-4 gap-lg-0 justify-content-between mb-4">
                <!-- dummy starts -->
                <div class="btn btn-gdark d-flex gap-3">
                  <div>Copy</div>
                  <div>CSV</div>
                  <div>Excel</div>
                  <div>PDF</div>
                  <div>Column Visibility ▾</div>
                </div>
                <!-- dummy ends -->
                <div
                  class="rounded-2 bg-white gap-1 d-flex justify-content-center align-content-center py-1 px-3"
                  style="border: 2px solid #e0e0e0"
                >
                  <i class="bi bi-search" style="margin-top: 3px"></i>
                  <input
                    type=""
                    placeholder="Search"
                    class="border-0"
                    style="outline: none"
                  />
                </div>
              </div>
              <div class="table-responsive">
                <table class="table bg-white shadow-lg rounded-2">
                  <thead>
                    <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Phone</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">07-06-23</th>
                      <td>Jubaer Hossen Boiyati</td>
                      <td>example1224@gmail.com</td>
                      <td>01775859569</td>
                    </tr>
                    <tr>
                      <th scope="row">07-06-23</th>
                      <td>Jubaer Hossen Boiyati</td>
                      <td>example1224@gmail.com</td>
                      <td>01775859569</td>
                    </tr>
                    <tr>
                      <th scope="row">07-06-23</th>
                      <td>Jubaer Hossen Boiyati</td>
                      <td>example1224@gmail.com</td>
                      <td>01775859569</td>
                    </tr>
                    <tr>
                      <th scope="row">07-06-23</th>
                      <td>Jubaer Hossen Boiyati</td>
                      <td>example1224@gmail.com</td>
                      <td>01775859569</td>
                    </tr>
                    <tr>
                      <th scope="row">07-06-23</th>
                      <td>Jubaer Hossen Boiyati</td>
                      <td>example1224@gmail.com</td>
                      <td>01775859569</td>
                    </tr>
                    <tr>
                      <th scope="row">07-06-23</th>
                      <td>Jubaer Hossen Boiyati</td>
                      <td>example1224@gmail.com</td>
                      <td>01775859569</td>
                    </tr>
                    <tr>
                      <th scope="row">07-06-23</th>
                      <td>Jubaer Hossen Boiyati</td>
                      <td>example1224@gmail.com</td>
                      <td>01775859569</td>
                    </tr>
                    <tr>
                      <th scope="row">07-06-23</th>
                      <td>Jubaer Hossen Boiyati</td>
                      <td>example1224@gmail.com</td>
                      <td>01775859569</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- contents ends here -->
          </div>
        </main>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
